canvas {
    background-color: cyan;
}
body {

    background: #fceabb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f8b500, #ffdf8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f8b500, #ffdf8f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Montserrat',
    sans-serif;

}
#head {
    font-size: 30px;
}

#button1 {
        background-color: #FFFFFF;
        border: none;
        border-radius: 10px;
        color: black;
        padding: 10px 10px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Montserrat',
        sans-serif;
        transition-duration: 0.4s;
    }
#button1:hover {
    background-color: #4CAF50;
    cursor: pointer;
    color: white;
}

#h1 {
    font-size: 40px;
}